# Visual Studio / Visual Studio Code
.vs/
.vscode/

# Carpeta binaria generada
**/bin/
**/obj/

# Archivos de compilación
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
*.VC.db
*.VC.VC.opendb
*.VC.VC.db
*.VC.VC.VC.opendb

# Dependencias de NuGet
packages/
*.nupkg
*.pdb
*.opendb

# Otros archivos generados
[Tt]humbs.db
*.DS_Store
*.cache
*.ReSharper*
*.resharper*
*.resharper.user
_ReSharper*
*.testsettings
